In [1]:
from IPython.display import IFrame 
wikiLink="https://en.wikipedia.org/wiki/2020_United_States_census#State_rankings"
IFrame(wikiLink,width=900,height=600)

In [2]:
import pandas as pd
wikiTables=pd.read_html(wikiLink,
                           header=0,
                           flavor='bs4',
                           attrs={'class':'wikitable sortable'})
wikiTables

[   Rank                 State  Population as of 2010 census[78]  \
 0     1            California                          37253956
 1     2                 Texas                          25145561
 2     3               Florida                          18801310
 3     4              New York                          19378102
 4     5          Pennsylvania                          12702379
 5     6              Illinois                          12830632
 6     7                  Ohio                          11536504
 7     8               Georgia                           9687653
 8     9        North Carolina                           9535483
 9    10              Michigan                           9883640
 10   11            New Jersey                           8791894
 11   12              Virginia                           8001024
 12   13            Washington                           6724540
 13   14               Arizona                           6392017
 14   15         Massachusetts                           6547629
 15   16             Tennessee                           6346105
 16   17               Indiana                           6483802
 17   18              Maryland                           5773552
 18   19              Missouri                           5988927
 19   20             Wisconsin                           5686986
 20   21              Colorado                           5029196
 21   22             Minnesota                           5303925
 22   23        South Carolina                           4625364
 23   24               Alabama                           4779736
 24   25             Louisiana                           4533372
 25   26              Kentucky                           4339367
 26   27                Oregon                           3831074
 27   28              Oklahoma                           3751351
 28   29           Connecticut                           3574097
 29   30                  Utah                           2763885
 30   31                  Iowa                           3046355
 31   32                Nevada                           2700551
 32   33              Arkansas                           2915918
 33   34           Mississippi                           2967297
 34   35                Kansas                           2853118
 35   36            New Mexico                           2059179
 36   37              Nebraska                           1826341
 37   38                 Idaho                           1567582
 38   39         West Virginia                           1852994
 39   40                Hawaii                           1360301
 40   41         New Hampshire                           1316470
 41   42                 Maine                           1328361
 42   43          Rhode Island                           1052567
 43   44               Montana                            989415
 44   45              Delaware                            897934
 45   46          South Dakota                            814180
 46   47          North Dakota                            672591
 47   48                Alaska                            710231
 48    —  District of Columbia                            601723
 49   49               Vermont                            625741
 50   50               Wyoming                            563626
 51  NaN         United States                         308745538

     Population as of 2020 census[79]    Change Percent change
 0                           39538223   2284267           6.1%
 1                           29145505   3999944          15.9%
 2                           21538187   2736877          14.6%
 3                           20201249    823147           4.3%
 4                           13002700    300321           2.4%
 5                           12812508   −18,124          −0.1%
 6                           11799448    262944           2.3%
 7                           10711908   1024255          10.6%
 8                           10439388    903905           9.5%
 9                           10077331    193691           2.0%
 10                           9288994    497100           5.7%
 11                           8631393    630369           7.9%
 12                           7705281    980741          14.6%
 13                           7151502    759485          11.9%
 14                           7029917    482288           7.4%
 15                           6910840    564735           8.9%
 16                           6785528    301726           4.6%
 17                           6177224    403672           7.0%
 18                           6154913    165986           2.8%
 19                           5893718    206732           3.6%
 20                           5773714    744518          14.8%
 21                           5706494    402569           7.6%
 22                           5118425    493061          10.7%
 23                           5024279    244543           5.1%
 24                           4657757    124385           2.7%
 25                           4505836    166469           3.8%
 26                           4237256    406182          10.6%
 27                           3959353    208002           5.5%
 28                           3605944     31847           0.9%
 29                           3271616    507731          18.4%
 30                           3190369    144014           4.7%
 31                           3104614    404063          15.0%
 32                           3011524     95606           3.3%
 33                           2961279    −6,018          −0.2%
 34                           2937880     84762           3.0%
 35                           2117522     58343           2.8%
 36                           1961504    135163           7.4%
 37                           1839106    271524          17.3%
 38                           1793716   −59,278          −3.2%
 39                           1455271     94970           7.0%
 40                           1377529     61059           4.6%
 41                           1362359     33998           2.6%
 42                           1097379     44812           4.3%
 43                           1084225     94810           9.6%
 44                            989948     92014          10.3%
 45                            886667     72487           8.9%
 46                            779094    106503          15.8%
 47                            733391     23160           3.3%
 48                            689545     87822          14.6%
 49                            643077     17336           2.8%
 50                            576851     13225           2.4%
 51                         331449281  22703743           7.4%  ,
    Rank          City         State  Population  Land area  (square miles)  \
 0     1      New York      New York     8804190                      301.5
 1     2   Los Angeles    California     3898747                      468.7
 2     3       Chicago      Illinois     2746388                      227.3
 3     4       Houston         Texas     2354580                      637.5
 4     5  Philadelphia  Pennsylvania     1593724                      161.0
 5     6       Phoenix       Arizona     1471941                      518.3

    Population density  (per square mile)     Region
 0                                29201.3  Northeast
 1                                 8318.2       West
 2                                12082.7    Midwest
 3                                 3613.2   Southern
 4                                 9898.9  Northeast
 5                                 2839.9       West  ]

In [3]:
wikiTables[0]

,Rank,State,Population as of 2010 census[78],Population as of 2020 census[79],Change,Percent change
0,1,California,37253956,39538223,2284267,6.1%
1,2,Texas,25145561,29145505,3999944,15.9%
2,3,Florida,18801310,21538187,2736877,14.6%
3,4,New York,19378102,20201249,823147,4.3%
4,5,Pennsylvania,12702379,13002700,300321,2.4%
5,6,Illinois,12830632,12812508,"−18,124",−0.1%
6,7,Ohio,11536504,11799448,262944,2.3%
7,8,Georgia,9687653,10711908,1024255,10.6%
8,9,North Carolina,9535483,10439388,903905,9.5%
9,10,Michigan,9883640,10077331,193691,2.0%
10,11,New Jersey,8791894,9288994,497100,5.7%
11,12,Virginia,8001024,8631393,630369,7.9%
12,13,Washington,6724540,7705281,980741,14.6%
13,14,Arizona,6392017,7151502,759485,11.9%
14,15,Massachusetts,6547629,7029917,482288,7.4%
15,16,Tennessee,6346105,6910840,564735,8.9%
16,17,Indiana,6483802,6785528,301726,4.6%
17,18,Maryland,5773552,6177224,403672,7.0%
18,19,Missouri,5988927,6154913,165986,2.8%
19,20,Wisconsin,5686986,5893718,206732,3.6%
20,21,Colorado,5029196,5773714,744518,14.8%
21,22,Minnesota,5303925,5706494,402569,7.6%
22,23,South Carolina,4625364,5118425,493061,10.7%
23,24,Alabama,4779736,5024279,244543,5.1%
24,25,Louisiana,4533372,4657757,124385,2.7%
25,26,Kentucky,4339367,4505836,166469,3.8%
26,27,Oregon,3831074,4237256,406182,10.6%
27,28,Oklahoma,3751351,3959353,208002,5.5%
28,29,Connecticut,3574097,3605944,31847,0.9%
29,30,Utah,2763885,3271616,507731,18.4%
30,31,Iowa,3046355,3190369,144014,4.7%
31,32,Nevada,2700551,3104614,404063,15.0%
32,33,Arkansas,2915918,3011524,95606,3.3%
33,34,Mississippi,2967297,2961279,"−6,018",−0.2%
34,35,Kansas,2853118,2937880,84762,3.0%
35,36,New Mexico,2059179,2117522,58343,2.8%
36,37,Nebraska,1826341,1961504,135163,7.4%
37,38,Idaho,1567582,1839106,271524,17.3%
38,39,West Virginia,1852994,1793716,"−59,278",−3.2%
39,40,Hawaii,1360301,1455271,94970,7.0%
40,41,New Hampshire,1316470,1377529,61059,4.6%
41,42,Maine,1328361,1362359,33998,2.6%
42,43,Rhode Island,1052567,1097379,44812,4.3%
43,44,Montana,989415,1084225,94810,9.6%
44,45,Delaware,897934,989948,92014,10.3%
45,46,South Dakota,814180,886667,72487,8.9%
46,47,North Dakota,672591,779094,106503,15.8%
47,48,Alaska,710231,733391,23160,3.3%
48,—,District of Columbia,601723,689545,87822,14.6%
49,49,Vermont,625741,643077,17336,2.8%
50,50,Wyoming,563626,576851,13225,2.4%
51,NaN,United States,308745538,331449281,22703743,7.4%

In [4]:
DFwiki=wikiTables[0].copy()

In [5]:
DFwiki.columns

Index(['Rank', 'State', 'Population as of 2010 census[78]',
       'Population as of 2020 census[79]', 'Change', 'Percent change'],
      dtype='object')

In [6]:
bye=[0,2,4,5]
DFwiki.drop(columns=DFwiki.columns[bye],inplace=True)#inplace!!
DFwiki

                   State  Population as of 2020 census[79]
0             California                          39538223
1                  Texas                          29145505
2                Florida                          21538187
3               New York                          20201249
4           Pennsylvania                          13002700
5               Illinois                          12812508
6                   Ohio                          11799448
7                Georgia                          10711908
8         North Carolina                          10439388
9               Michigan                          10077331
10            New Jersey                           9288994
11              Virginia                           8631393
12            Washington                           7705281
13               Arizona                           7151502
14         Massachusetts                           7029917
15             Tennessee                           6910840
16               Indiana                           6785528
17              Maryland                           6177224
18              Missouri                           6154913
19             Wisconsin                           5893718
20              Colorado                           5773714
21             Minnesota                           5706494
22        South Carolina                           5118425
23               Alabama                           5024279
24             Louisiana                           4657757
25              Kentucky                           4505836
26                Oregon                           4237256
27              Oklahoma                           3959353
28           Connecticut                           3605944
29                  Utah                           3271616
30                  Iowa                           3190369
31                Nevada                           3104614
32              Arkansas                           3011524
33           Mississippi                           2961279
34                Kansas                           2937880
35            New Mexico                           2117522
36              Nebraska                           1961504
37                 Idaho                           1839106
38         West Virginia                           1793716
39                Hawaii                           1455271
40         New Hampshire                           1377529
41                 Maine                           1362359
42          Rhode Island                           1097379
43               Montana                           1084225
44              Delaware                            989948
45          South Dakota                            886667
46          North Dakota                            779094
47                Alaska                            733391
48  District of Columbia                            689545
49               Vermont                            643077
50               Wyoming                            576851
51         United States                         331449281

In [7]:
DFwiki.columns.to_list()

['State', 'Population as of 2020 census[79]']

In [8]:
DFwiki.rename(columns=
              {'Population as of 2020 census[79]':'Population'},
              inplace = True)

In [9]:
DFwiki.columns

Index(['State', 'Population'], dtype='object')

In [10]:
DFwiki.iloc[:,:2]

                   State  Population
0             California    39538223
1                  Texas    29145505
2                Florida    21538187
3               New York    20201249
4           Pennsylvania    13002700
5               Illinois    12812508
6                   Ohio    11799448
7                Georgia    10711908
8         North Carolina    10439388
9               Michigan    10077331
10            New Jersey     9288994
11              Virginia     8631393
12            Washington     7705281
13               Arizona     7151502
14         Massachusetts     7029917
15             Tennessee     6910840
16               Indiana     6785528
17              Maryland     6177224
18              Missouri     6154913
19             Wisconsin     5893718
20              Colorado     5773714
21             Minnesota     5706494
22        South Carolina     5118425
23               Alabama     5024279
24             Louisiana     4657757
25              Kentucky     4505836
26                Oregon     4237256
27              Oklahoma     3959353
28           Connecticut     3605944
29                  Utah     3271616
30                  Iowa     3190369
31                Nevada     3104614
32              Arkansas     3011524
33           Mississippi     2961279
34                Kansas     2937880
35            New Mexico     2117522
36              Nebraska     1961504
37                 Idaho     1839106
38         West Virginia     1793716
39                Hawaii     1455271
40         New Hampshire     1377529
41                 Maine     1362359
42          Rhode Island     1097379
43               Montana     1084225
44              Delaware      989948
45          South Dakota      886667
46          North Dakota      779094
47                Alaska      733391
48  District of Columbia      689545
49               Vermont      643077
50               Wyoming      576851
51         United States   331449281

In [11]:
#Checking for leading/trailing spaces
"Washington".strip()

'Washington'

In [12]:
DFwiki.head()

          State  Population
0    California    39538223
1         Texas    29145505
2       Florida    21538187
3      New York    20201249
4  Pennsylvania    13002700

In [13]:
#delete a single row by index value 0
#axis 1 = column
#axis 0 = row
#we've just dropped "United States"
DFwiki.drop(labels= 51,axis=0)

                   State  Population
0             California    39538223
1                  Texas    29145505
2                Florida    21538187
3               New York    20201249
4           Pennsylvania    13002700
5               Illinois    12812508
6                   Ohio    11799448
7                Georgia    10711908
8         North Carolina    10439388
9               Michigan    10077331
10            New Jersey     9288994
11              Virginia     8631393
12            Washington     7705281
13               Arizona     7151502
14         Massachusetts     7029917
15             Tennessee     6910840
16               Indiana     6785528
17              Maryland     6177224
18              Missouri     6154913
19             Wisconsin     5893718
20              Colorado     5773714
21             Minnesota     5706494
22        South Carolina     5118425
23               Alabama     5024279
24             Louisiana     4657757
25              Kentucky     4505836
26                Oregon     4237256
27              Oklahoma     3959353
28           Connecticut     3605944
29                  Utah     3271616
30                  Iowa     3190369
31                Nevada     3104614
32              Arkansas     3011524
33           Mississippi     2961279
34                Kansas     2937880
35            New Mexico     2117522
36              Nebraska     1961504
37                 Idaho     1839106
38         West Virginia     1793716
39                Hawaii     1455271
40         New Hampshire     1377529
41                 Maine     1362359
42          Rhode Island     1097379
43               Montana     1084225
44              Delaware      989948
45          South Dakota      886667
46          North Dakota      779094
47                Alaska      733391
48  District of Columbia      689545
49               Vermont      643077
50               Wyoming      576851

In [14]:
DFwiki=DFwiki.drop(labels= 51,axis=0)

In [15]:
DFwiki

                   State  Population
0             California    39538223
1                  Texas    29145505
2                Florida    21538187
3               New York    20201249
4           Pennsylvania    13002700
5               Illinois    12812508
6                   Ohio    11799448
7                Georgia    10711908
8         North Carolina    10439388
9               Michigan    10077331
10            New Jersey     9288994
11              Virginia     8631393
12            Washington     7705281
13               Arizona     7151502
14         Massachusetts     7029917
15             Tennessee     6910840
16               Indiana     6785528
17              Maryland     6177224
18              Missouri     6154913
19             Wisconsin     5893718
20              Colorado     5773714
21             Minnesota     5706494
22        South Carolina     5118425
23               Alabama     5024279
24             Louisiana     4657757
25              Kentucky     4505836
26                Oregon     4237256
27              Oklahoma     3959353
28           Connecticut     3605944
29                  Utah     3271616
30                  Iowa     3190369
31                Nevada     3104614
32              Arkansas     3011524
33           Mississippi     2961279
34                Kansas     2937880
35            New Mexico     2117522
36              Nebraska     1961504
37                 Idaho     1839106
38         West Virginia     1793716
39                Hawaii     1455271
40         New Hampshire     1377529
41                 Maine     1362359
42          Rhode Island     1097379
43               Montana     1084225
44              Delaware      989948
45          South Dakota      886667
46          North Dakota      779094
47                Alaska      733391
48  District of Columbia      689545
49               Vermont      643077
50               Wyoming      576851

In [16]:
#0 is City
#1 is State
#2 is Popl.
DFwiki.iloc[:,0]

0               California
1                    Texas
2                  Florida
3                 New York
4             Pennsylvania
5                 Illinois
6                     Ohio
7                  Georgia
8           North Carolina
9                 Michigan
10              New Jersey
11                Virginia
12              Washington
13                 Arizona
14           Massachusetts
15               Tennessee
16                 Indiana
17                Maryland
18                Missouri
19               Wisconsin
20                Colorado
21               Minnesota
22          South Carolina
23                 Alabama
24               Louisiana
25                Kentucky
26                  Oregon
27                Oklahoma
28             Connecticut
29                    Utah
30                    Iowa
31                  Nevada
32                Arkansas
33             Mississippi
34                  Kansas
35              New Mexico
36                Nebraska
37                   Idaho
38           West Virginia
39                  Hawaii
40           New Hampshire
41                   Maine
42            Rhode Island
43                 Montana
44                Delaware
45            South Dakota
46            North Dakota
47                  Alaska
48    District of Columbia
49                 Vermont
50                 Wyoming
Name: State, dtype: object

In [17]:
#prepare a frequency table to detect possible errors
DFwiki.Population.value_counts()

39538223    1
1793716     1
3605944     1
3271616     1
3190369     1
3104614     1
3011524     1
2961279     1
2937880     1
2117522     1
1961504     1
1839106     1
1455271     1
4237256     1
1377529     1
1362359     1
1097379     1
1084225     1
989948      1
886667      1
779094      1
733391      1
689545      1
643077      1
3959353     1
4505836     1
29145505    1
7705281     1
21538187    1
20201249    1
13002700    1
12812508    1
11799448    1
10711908    1
10439388    1
10077331    1
9288994     1
8631393     1
7151502     1
4657757     1
7029917     1
6910840     1
6785528     1
6177224     1
6154913     1
5893718     1
5773714     1
5706494     1
5118425     1
5024279     1
576851      1
Name: Population, dtype: int64

In [18]:
#save the frequency table
tableCounts=DFwiki.Population.value_counts()
tableCounts

39538223    1
1793716     1
3605944     1
3271616     1
3190369     1
3104614     1
3011524     1
2961279     1
2937880     1
2117522     1
1961504     1
1839106     1
1455271     1
4237256     1
1377529     1
1362359     1
1097379     1
1084225     1
989948      1
886667      1
779094      1
733391      1
689545      1
643077      1
3959353     1
4505836     1
29145505    1
7705281     1
21538187    1
20201249    1
13002700    1
12812508    1
11799448    1
10711908    1
10439388    1
10077331    1
9288994     1
8631393     1
7151502     1
4657757     1
7029917     1
6910840     1
6785528     1
6177224     1
6154913     1
5893718     1
5773714     1
5706494     1
5118425     1
5024279     1
576851      1
Name: Population, dtype: int64

In [19]:
#keep the names of the rows as a list (indexes as list)
badLevels=tableCounts[tableCounts==1].index.to_list()
badLevels

[39538223,
 1793716,
 3605944,
 3271616,
 3190369,
 3104614,
 3011524,
 2961279,
 2937880,
 2117522,
 1961504,
 1839106,
 1455271,
 4237256,
 1377529,
 1362359,
 1097379,
 1084225,
 989948,
 886667,
 779094,
 733391,
 689545,
 643077,
 3959353,
 4505836,
 29145505,
 7705281,
 21538187,
 20201249,
 13002700,
 12812508,
 11799448,
 10711908,
 10439388,
 10077331,
 9288994,
 8631393,
 7151502,
 4657757,
 7029917,
 6910840,
 6785528,
 6177224,
 6154913,
 5893718,
 5773714,
 5706494,
 5118425,
 5024279,
 576851]

In [20]:
#are these wrong?
DFwiki[DFwiki.Population.isin(badLevels)]

                   State  Population
0             California    39538223
1                  Texas    29145505
2                Florida    21538187
3               New York    20201249
4           Pennsylvania    13002700
5               Illinois    12812508
6                   Ohio    11799448
7                Georgia    10711908
8         North Carolina    10439388
9               Michigan    10077331
10            New Jersey     9288994
11              Virginia     8631393
12            Washington     7705281
13               Arizona     7151502
14         Massachusetts     7029917
15             Tennessee     6910840
16               Indiana     6785528
17              Maryland     6177224
18              Missouri     6154913
19             Wisconsin     5893718
20              Colorado     5773714
21             Minnesota     5706494
22        South Carolina     5118425
23               Alabama     5024279
24             Louisiana     4657757
25              Kentucky     4505836
26                Oregon     4237256
27              Oklahoma     3959353
28           Connecticut     3605944
29                  Utah     3271616
30                  Iowa     3190369
31                Nevada     3104614
32              Arkansas     3011524
33           Mississippi     2961279
34                Kansas     2937880
35            New Mexico     2117522
36              Nebraska     1961504
37                 Idaho     1839106
38         West Virginia     1793716
39                Hawaii     1455271
40         New Hampshire     1377529
41                 Maine     1362359
42          Rhode Island     1097379
43               Montana     1084225
44              Delaware      989948
45          South Dakota      886667
46          North Dakota      779094
47                Alaska      733391
48  District of Columbia      689545
49               Vermont      643077
50               Wyoming      576851

In [21]:
DFwiki.reset_index()

    index                 State  Population
0       0            California    39538223
1       1                 Texas    29145505
2       2               Florida    21538187
3       3              New York    20201249
4       4          Pennsylvania    13002700
5       5              Illinois    12812508
6       6                  Ohio    11799448
7       7               Georgia    10711908
8       8        North Carolina    10439388
9       9              Michigan    10077331
10     10            New Jersey     9288994
11     11              Virginia     8631393
12     12            Washington     7705281
13     13               Arizona     7151502
14     14         Massachusetts     7029917
15     15             Tennessee     6910840
16     16               Indiana     6785528
17     17              Maryland     6177224
18     18              Missouri     6154913
19     19             Wisconsin     5893718
20     20              Colorado     5773714
21     21             Minnesota     5706494
22     22        South Carolina     5118425
23     23               Alabama     5024279
24     24             Louisiana     4657757
25     25              Kentucky     4505836
26     26                Oregon     4237256
27     27              Oklahoma     3959353
28     28           Connecticut     3605944
29     29                  Utah     3271616
30     30                  Iowa     3190369
31     31                Nevada     3104614
32     32              Arkansas     3011524
33     33           Mississippi     2961279
34     34                Kansas     2937880
35     35            New Mexico     2117522
36     36              Nebraska     1961504
37     37                 Idaho     1839106
38     38         West Virginia     1793716
39     39                Hawaii     1455271
40     40         New Hampshire     1377529
41     41                 Maine     1362359
42     42          Rhode Island     1097379
43     43               Montana     1084225
44     44              Delaware      989948
45     45          South Dakota      886667
46     46          North Dakota      779094
47     47                Alaska      733391
48     48  District of Columbia      689545
49     49               Vermont      643077
50     50               Wyoming      576851

In [22]:
DFwiki.reset_index(drop=True, inplace=True)
#
DFwiki

                   State  Population
0             California    39538223
1                  Texas    29145505
2                Florida    21538187
3               New York    20201249
4           Pennsylvania    13002700
5               Illinois    12812508
6                   Ohio    11799448
7                Georgia    10711908
8         North Carolina    10439388
9               Michigan    10077331
10            New Jersey     9288994
11              Virginia     8631393
12            Washington     7705281
13               Arizona     7151502
14         Massachusetts     7029917
15             Tennessee     6910840
16               Indiana     6785528
17              Maryland     6177224
18              Missouri     6154913
19             Wisconsin     5893718
20              Colorado     5773714
21             Minnesota     5706494
22        South Carolina     5118425
23               Alabama     5024279
24             Louisiana     4657757
25              Kentucky     4505836
26                Oregon     4237256
27              Oklahoma     3959353
28           Connecticut     3605944
29                  Utah     3271616
30                  Iowa     3190369
31                Nevada     3104614
32              Arkansas     3011524
33           Mississippi     2961279
34                Kansas     2937880
35            New Mexico     2117522
36              Nebraska     1961504
37                 Idaho     1839106
38         West Virginia     1793716
39                Hawaii     1455271
40         New Hampshire     1377529
41                 Maine     1362359
42          Rhode Island     1097379
43               Montana     1084225
44              Delaware      989948
45          South Dakota      886667
46          North Dakota      779094
47                Alaska      733391
48  District of Columbia      689545
49               Vermont      643077
50               Wyoming      576851